<a href="https://colab.research.google.com/github/Suriya6744/bsc_dpdm22/blob/main/%5Bdataprep1%5Dproperty_estimator_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [261]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [262]:
import pandas as pd
df1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน (2).xlsx',sheet_name='บ้าน',skiprows=0)
df2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน (2).xlsx',sheet_name='ที่ดิน',skiprows=0)
df3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน (2).xlsx',sheet_name='คอนโด',skiprows=0)
df4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน (2).xlsx',sheet_name='ทาวน์โฮม',skiprows=0)
df5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน (2).xlsx',sheet_name='อาคารพาณิชย์',skiprows=0)

#ข้อมูลประเมินบ้าน

In [263]:
df1.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

##ผู้ประเมินคนที่ 1

In [264]:
ass1 = df1[df1['ID ผู้ประเมิน']==1]
ass1.count()

ID ผู้ประเมิน                     100
post id                           100
property_type                     100
ความมั่นใจในการเมินราคาทรัพย์     100
ราคาทรัพย์                         61
ประเมินราคาซื้อ-ขาย               100
ปัจจัยในการประเมินราคาซื้อ-ขาย    100
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    100
Unnamed: 9                          0
Unnamed: 10                         0
Unnamed: 11                         0
Unnamed: 12                         0
Unnamed: 13                         1
dtype: int64

In [265]:
ass1.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,6.100000e+01,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.004721e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,3.039496e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.500000e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.630000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,4.774000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

In [266]:
ass1['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    100
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [267]:
ass1['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

##ผู้ประเมินคนที่ 2

In [268]:
ass2 = df1[df1['ID ผู้ประเมิน']==2]
ass2.count()

ID ผู้ประเมิน                     90
post id                           90
property_type                     90
ความมั่นใจในการเมินราคาทรัพย์     90
ราคาทรัพย์                        61
ประเมินราคาซื้อ-ขาย               89
ปัจจัยในการประเมินราคาซื้อ-ขาย    89
เหตุผลไม่มั่นใจราคาประเมิน         1
ให้คะแนนทรัพย์                    89
Unnamed: 9                         0
Unnamed: 10                        0
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        0
dtype: int64

In [269]:
ass2.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,90.0,6.100000e+01,8.900000e+01,0.0,0.0,0.0,0.0,0.0
mean,2.0,4.004721e+06,4.153258e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,3.039496e+06,2.386901e+06,NaN,NaN,NaN,NaN,NaN
min,2.0,3.900000e+05,9.900000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,2.500000e+06,2.600000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,3.630000e+06,3.900000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,4.774000e+06,4.900000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,2.094900e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN

In [270]:
ass2['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ       89
ไม่มั่นใจ     1
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [271]:
ass2['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

# เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนและของราคาตั้งขายใช้ MAPE เป็นเกณฑ์ในการเปรียบเทียบ

##บ้าน

In [272]:
ass2['ประเมิน1'] = ass2['post id'].map(ass1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
ass2.head()

<ipython-input-272-eec33b5e30d2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2['ประเมิน1'] = ass2['post id'].map(ass1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0

In [273]:
ass2.rename(columns = {'ประเมินราคาซื้อ-ขาย' : 'ประเมิน2'}, inplace = True) #เปลี่ยนชื่อ

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [274]:
all1 = ass2[['post id', 'ราคาทรัพย์', 'ประเมิน1', 'ประเมิน2']]
all1

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0
..                                     ...         ...        ...        ...
185  https://nayoo.co/khonkaen/posts/19495         NaN  4500000.0  5000000.0
186  https://nayoo.co/khonkaen/posts/19496         NaN  5200000.0  7400000.0
187     https://nayoo.co/khonkaen/posts/20   2000000.0  3600000.0  2500000.0
188     https://nayoo.co/khonkaen/posts/31   4000000.0  4000000.0  3900000.0
189    https://nayoo.co/khonkaen/posts/570   1375000.0  1200000.0  1400000.0

[90 rows x 4 columns]

In [275]:
all1.isnull().any()

post id       False
ราคาทรัพย์     True
ประเมิน1      False
ประเมิน2       True
dtype: bool

In [276]:
all1 = all1.dropna(subset=['ประเมิน2'])
all1

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0
..                                     ...         ...        ...        ...
185  https://nayoo.co/khonkaen/posts/19495         NaN  4500000.0  5000000.0
186  https://nayoo.co/khonkaen/posts/19496         NaN  5200000.0  7400000.0
187     https://nayoo.co/khonkaen/posts/20   2000000.0  3600000.0  2500000.0
188     https://nayoo.co/khonkaen/posts/31   4000000.0  4000000.0  3900000.0
189    https://nayoo.co/khonkaen/posts/570   1375000.0  1200000.0  1400000.0

[89 rows x 4 columns]

In [277]:
all1.isnull().any()

post id       False
ราคาทรัพย์     True
ประเมิน1      False
ประเมิน2      False
dtype: bool

### MAPE ของบ้าน

In [278]:
actual_h = all1['ราคาทรัพย์']
pred1_h = all1['ประเมิน1']
pred2_h = all1['ประเมิน2']

In [279]:
mh1 = mape(actual_h, pred1_h)
print(f'ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ {mh1}')

ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ nan

In [280]:
mh2 = mape(actual_h, pred2_h)
print(f'ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ {mh2}')

ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ nan

In [281]:
mh3 = mape(pred1_h, pred2_h)
print(f'ผู้ประเมินคนที่ 1 เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ {mh3}')

ผู้ประเมินคนที่ 1 เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ 13.626068116793128

In [282]:
mh4 = mape(pred2_h, pred1_h)
print(f'ผู้ประเมินคนที่ 2 เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ {mh4}')

ผู้ประเมินคนที่ 2 เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ 11.582834887783596

In [283]:
mh5 = mape(pred1_h, actual_h)
print(f'ผู้ประเมินคนที่ 1 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ {mh5}')

ผู้ประเมินคนที่ 1 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ nan

In [284]:
mh6 = mape(pred2_h, actual_h)
print(f'ผู้ประเมินคนที่ 2 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ {mh6}')

ผู้ประเมินคนที่ 2 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ nan

## ทาวน์โฮม

In [291]:
df4

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,NaN,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,NaN,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [292]:
th1 = df4[df4['ID ผู้ประเมิน']==1]
th1.count()

ID ผู้ประเมิน                     120
post id                           120
property_type                     120
ความมั่นใจในการเมินราคาทรัพย์     120
ราคาทรัพย์                         61
ประเมินราคาซื้อ-ขาย               120
ปัจจัยในการประเมินราคาซื้อ-ขาย    120
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    120
Unnamed: 9                          0
Unnamed: 10                         0
Unnamed: 11                         0
Unnamed: 12                         1
dtype: int64

In [293]:
th2 = df4[df4['ID ผู้ประเมิน']==2]
th2.count()

ID ผู้ประเมิน                     120
post id                           120
property_type                     120
ความมั่นใจในการเมินราคาทรัพย์     120
ราคาทรัพย์                         61
ประเมินราคาซื้อ-ขาย               120
ปัจจัยในการประเมินราคาซื้อ-ขาย    120
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    120
Unnamed: 9                          0
Unnamed: 10                         0
Unnamed: 11                         0
Unnamed: 12                         0
dtype: int64

In [294]:
th2['ประเมิน1'] = th2['post id'].map(th1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
th2.head()

<ipython-input-294-e1980f55f3c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  th2['ประเมิน1'] = th2['post id'].map(th1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0

In [295]:
th2.rename(columns = {'ประเมินราคาซื้อ-ขาย' : 'ประเมิน2'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [296]:
all2 = th2[['post id', 'ราคาทรัพย์', 'ประเมิน1', 'ประเมิน2']]
all2

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1      https://nayoo.co/khonkaen/posts/548   1045000.0   700000.0  1500000.0
3      https://nayoo.co/khonkaen/posts/549    935000.0   700000.0  1500000.0
5      https://nayoo.co/khonkaen/posts/579   3520000.0  3500000.0  4000000.0
7      https://nayoo.co/khonkaen/posts/580   3850000.0  3500000.0  3200000.0
9      https://nayoo.co/khonkaen/posts/582    990000.0  1000000.0   800000.0
..                                     ...         ...        ...        ...
235  https://nayoo.co/khonkaen/posts/18547         NaN  1000000.0  1200000.0
236  https://nayoo.co/khonkaen/posts/18551         NaN  1500000.0  1700000.0
237  https://nayoo.co/khonkaen/posts/19434         NaN  1600000.0  1900000.0
238  https://nayoo.co/khonkaen/posts/19501         NaN  1600000.0  1700000.0
239  https://nayoo.co/khonkaen/posts/20367         NaN  1700000.0  1700000.0

[120 rows x 4 columns]

In [297]:
all2.isnull().any()

post id       False
ราคาทรัพย์     True
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [298]:
all2 = all2.dropna(subset=['ราคาทรัพย์'])
all2

                                  post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1     https://nayoo.co/khonkaen/posts/548   1045000.0   700000.0  1500000.0
3     https://nayoo.co/khonkaen/posts/549    935000.0   700000.0  1500000.0
5     https://nayoo.co/khonkaen/posts/579   3520000.0  3500000.0  4000000.0
7     https://nayoo.co/khonkaen/posts/580   3850000.0  3500000.0  3200000.0
9     https://nayoo.co/khonkaen/posts/582    990000.0  1000000.0   800000.0
..                                    ...         ...        ...        ...
176  https://nayoo.co/khonkaen/posts/3528   2190000.0   350000.0   400000.0
177  https://nayoo.co/khonkaen/posts/3599   1700000.0  1800000.0  1700000.0
178  https://nayoo.co/khonkaen/posts/3661   1900000.0  2000000.0  1900000.0
179  https://nayoo.co/khonkaen/posts/3719   1550000.0  1400000.0  1500000.0
196   https://nayoo.co/khonkaen/posts/616   1540000.0  1500000.0  1500000.0

[61 rows x 4 columns]

### MAPE ของทาวน์โฮม

In [303]:
actual_th = all2['ราคาทรัพย์']
pred1_th = all2['ประเมิน1']
pred2_th = all2['ประเมิน2']

In [304]:
mth1 = mape(actual_th, pred1_th)
print(f'ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ {mth1}')

ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ 11.827238709553873

In [305]:
mth2 = mape(actual_th, pred2_th)
print(f'ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ {mth2}')

ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ 9.879763921117188

In [306]:
mth3 = mape(pred1_th, pred2_th)
print(f'ผู้ประเมินคนที่ 1 เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ {mth3}')

ผู้ประเมินคนที่ 1 เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ 12.553213977323969

In [307]:
mth4 = mape(pred2_th, pred1_th)
print(f'ผู้ประเมินคนที่ 2 เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ {mth4}')

ผู้ประเมินคนที่ 2 เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ 10.76360445297477

In [308]:
mth5 = mape(pred1_th, actual_th)
print(f'ผู้ประเมินคนที่ 1 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ {mth5}')

ผู้ประเมินคนที่ 1 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ 20.119357796869004

In [309]:
mth6 = mape(pred2_th, actual_th)
print(f'ผู้ประเมินคนที่ 2 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ {mth6}')

ผู้ประเมินคนที่ 2 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ 15.838059290617416

## อาคารพาณิชย์

In [313]:
df5

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,"8,000-60,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,2200000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
10,1,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,3600000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
14,1,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,3800000.0,"8,000-40,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
16,1,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,7000000.0,"15,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
18,1,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,8000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN

In [316]:
pn1 = df5[df5['ID ผู้ประเมิน']==1]
pn1.count()

ID ผู้ประเมิน                     10
post id                           10
property_type                     10
ความมั่นใจในการเมินราคาทรัพย์     10
ราคาทรัพย์                        10
ประเมินราคาซื้อ-ขาย               10
ปัจจัยในการประเมินราคาซื้อ-ขาย    10
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    10
Unnamed: 9                        10
Unnamed: 10                       10
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        1
dtype: int64

In [317]:
pn2 = df5[df5['ID ผู้ประเมิน']==2]
pn2.count()

ID ผู้ประเมิน                     10
post id                           10
property_type                     10
ความมั่นใจในการเมินราคาทรัพย์     10
ราคาทรัพย์                        10
ประเมินราคาซื้อ-ขาย               10
ปัจจัยในการประเมินราคาซื้อ-ขาย    10
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    10
Unnamed: 9                        10
Unnamed: 10                       10
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        0
dtype: int64

In [318]:
pn2['ประเมิน1'] = pn2['post id'].map(pn1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
pn2.head()

<ipython-input-318-20aea626f4d2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pn2['ประเมิน1'] = pn2['post id'].map(pn1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,6000000.0
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,12000000.0
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,13500000.0
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,4000000.0
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2200000.0

In [319]:
pn2.rename(columns = {'ประเมินราคาซื้อ-ขาย' : 'ประเมิน2'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [320]:
all3 = pn2[['post id', 'ราคาทรัพย์', 'ประเมิน1', 'ประเมิน2']]
all3

                                post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/6   7000000.0   6000000.0   8000000.0
3    https://nayoo.co/khonkaen/posts/17  12000000.0  12000000.0  12000000.0
5    https://nayoo.co/khonkaen/posts/21  22500000.0  13500000.0  20000000.0
7    https://nayoo.co/khonkaen/posts/22   3500000.0   4000000.0   4000000.0
9    https://nayoo.co/khonkaen/posts/24   3900000.0   2200000.0   3000000.0
11   https://nayoo.co/khonkaen/posts/30   4800000.0   3600000.0   4000000.0
13   https://nayoo.co/khonkaen/posts/35   2400000.0   2500000.0   2100000.0
15  https://nayoo.co/khonkaen/posts/497   5000000.0   3800000.0   5000000.0
17  https://nayoo.co/khonkaen/posts/498   7000000.0   7000000.0   8000000.0
19  https://nayoo.co/khonkaen/posts/499   9000000.0   8000000.0  10000000.0

In [321]:
all3.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

### MAPE ของอาคารพาณิชย์

In [322]:
actual_pn = all3['ราคาทรัพย์']
pred1_pn = all3['ประเมิน1']
pred2_pn = all3['ประเมิน2']

In [323]:
mpn1 = mape(actual_pn, pred1_pn)
print(f'ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ {mpn1}')

ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ 17.643894993894996

In [324]:
mpn2 = mape(actual_pn, pred2_pn)
print(f'ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ {mpn2}')

ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ 11.732295482295482

In [325]:
mpn3 = mape(pred1_pn, pred2_pn)
print(f'ผู้ประเมินคนที่ 1 เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ {mpn3}')

ผู้ประเมินคนที่ 1 เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ 21.58208906103643

In [326]:
mpn4 = mape(pred2_pn, pred1_pn)
print(f'ผู้ประเมินคนที่ 2 เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ {mpn4}')

ผู้ประเมินคนที่ 2 เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ 16.97142857142857

In [327]:
mpn5 = mape(pred1_pn, actual_pn)
print(f'ผู้ประเมินคนที่ 1 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ {mpn5}')

ผู้ประเมินคนที่ 1 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ 25.4518341307815

In [328]:
mpn6 = mape(pred2_pn, actual_pn)
print(f'ผู้ประเมินคนที่ 2 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ {mpn6}')

ผู้ประเมินคนที่ 2 เทียบกับราคาทรัพย์ มีค่า MAPE เท่ากับ 12.428571428571429