<a href="https://colab.research.google.com/github/Suriya6744/bsc_dpdm22/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของกรม อุตุ() ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณหภูมิต่ำสุดของวันจากค่าอื่นๆ

![image.png]()

column เดือน-ปี สามารถยุบรวมเป็น 1 column ได้

In [182]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [183]:
import pandas as pd

# ความกด

In [184]:
p1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

## process

In [185]:
p1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p1['จังหวัด'] = 'ขอนแก่น'

p2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p2['จังหวัด'] = 'นครพนม'

p3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p3['จังหวัด'] = 'สกลนคร'

p4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p4['จังหวัด'] = 'หนองคาย'

p5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p5['จังหวัด'] = 'เลย'

In [186]:
p1['ปี'] = p1['เดือน/ปี'].dt.year
p1['เดือน'] = p1['เดือน/ปี'].dt.month
p2['ปี'] = p2['เดือน/ปี'].dt.year
p2['เดือน'] = p2['เดือน/ปี'].dt.month
p3['ปี'] = p3['เดือน/ปี'].dt.year
p3['เดือน'] = p3['เดือน/ปี'].dt.month
p4['ปี'] = p4['เดือน/ปี'].dt.year
p4['เดือน'] = p4['เดือน/ปี'].dt.month
p5['ปี'] = p5['เดือน/ปี'].dt.year
p5['เดือน'] = p5['เดือน/ปี'].dt.month

In [187]:
p1=p1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
p2=p2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
p3=p3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
p4=p4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
p5=p5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [188]:
p1=p1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})
p2=p2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})
p3=p3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})
p4=p4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})
p5=p5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})

In [189]:
p1

      จังหวัด                     สถานี  เดือน    ปี วันที่   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      1  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      2  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      3  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      4  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      5  1009.88
...       ...                       ...    ...   ...    ...      ...
1700  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     27  1014.37
1701  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     28  1013.04
1702  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     29  1013.37
1703  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     30  1013.98
1704  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     31        -

[1705 rows x 6 columns]

In [190]:
pp = [p1,p2,p3,p4,p5]
all_p =pd.concat(pp)
all_p

      จังหวัด                     สถานี  เดือน    ปี วันที่   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      1  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      2  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      3  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      4  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      5  1009.88
...       ...                       ...    ...   ...    ...      ...
1700      เลย  352201-หนองคาย จ.หนองคาย      2  2022     27  1014.97
1701      เลย  352201-หนองคาย จ.หนองคาย      2  2022     28  1012.88
1702      เลย  352201-หนองคาย จ.หนองคาย      2  2022     29        -
1703      เลย  352201-หนองคาย จ.หนองคาย      2  2022     30        -
1704      เลย  352201-หนองคาย จ.หนองคาย      2  2022     31        -

[8525 rows x 6 columns]

# ความชื้นสัมพัทธ์

In [191]:
m1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

## process

In [192]:
m1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m1['จังหวัด'] = 'ขอนแก่น'

m2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m2['จังหวัด'] = 'นครพนม'

m3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m3['จังหวัด'] = 'สกลนคร'

m4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m4['จังหวัด'] = 'หนองคาย'

m5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m5['จังหวัด'] = 'เลย'

In [193]:
m1['ปี'] = m1['เดือน/ปี'].dt.year
m1['เดือน'] = m1['เดือน/ปี'].dt.month
m2['ปี'] = m2['เดือน/ปี'].dt.year
m2['เดือน'] = m2['เดือน/ปี'].dt.month
m3['ปี'] = m3['เดือน/ปี'].dt.year
m3['เดือน'] = m3['เดือน/ปี'].dt.month
m4['ปี'] = m4['เดือน/ปี'].dt.year
m4['เดือน'] = m4['เดือน/ปี'].dt.month
m5['ปี'] = m5['เดือน/ปี'].dt.year
m5['เดือน'] = m5['เดือน/ปี'].dt.month

In [194]:
m1=m1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m2=m2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m3=m3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
m4=m4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m5=m5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [195]:
m1=m1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m2=m2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m3=m3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m4=m4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m5=m5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})

In [196]:
m1

      จังหวัด                     สถานี  เดือน    ปี วันที่ ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5               86
...       ...                       ...    ...   ...    ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     27               58
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     28               62
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     29                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     30                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     31                -

[1705 rows x 6 columns]

In [197]:
mm = [m1,m2,m3,m4,m5]
all_m =pd.concat(mm)
all_m

      จังหวัด                     สถานี  เดือน    ปี วันที่ ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5               86
...       ...                       ...    ...   ...    ...              ...
1700      เลย     353301-เลย สกษ. จ.เลย      2  2022     27               74
1701      เลย     353301-เลย สกษ. จ.เลย      2  2022     28               72
1702      เลย     353301-เลย สกษ. จ.เลย      2  2022     29                -
1703      เลย     353301-เลย สกษ. จ.เลย      2  2022     30                -
1704      เลย     353301-เลย สกษ. จ.เลย      2  2022     31                -

[8525 rows x 6 columns]

# ความเร็วลม

In [8]:
w1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

## process

In [198]:
w1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w1['จังหวัด'] = 'ขอนแก่น'

w2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w2['จังหวัด'] = 'นครพนม'

w3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
      'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w3['จังหวัด'] = 'สกลนคร'

w4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w4['จังหวัด'] = 'หนองคาย'

w5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w5['จังหวัด'] = 'เลย'

In [199]:
w1['ปี'] = w1['เดือน/ปี'].dt.year
w1['เดือน'] = w1['เดือน/ปี'].dt.month
w2['ปี'] = w2['เดือน/ปี'].dt.year
w2['เดือน'] = w2['เดือน/ปี'].dt.month
w3['ปี'] = w3['เดือน/ปี'].dt.year
w3['เดือน'] = w3['เดือน/ปี'].dt.month
w4['ปี'] = w4['เดือน/ปี'].dt.year
w4['เดือน'] = w4['เดือน/ปี'].dt.month
w5['ปี'] = w5['เดือน/ปี'].dt.year
w5['เดือน'] = w5['เดือน/ปี'].dt.month

In [ ]:
w1=w1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m2=w2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m3=w3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
m4=w4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m5=m5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [ ]:
m1=m1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m2=m2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m3=m3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m4=m4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m5=m5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})

In [ ]:
m1

      จังหวัด                     สถานี  เดือน    ปี วันที่ ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5               86
...       ...                       ...    ...   ...    ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     27               58
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     28               62
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     29                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     30                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     31                -

[1705 rows x 6 columns]

In [ ]:
mm = [m1,m2,m3,m4,m5]
all_m =pd.concat(mm)
all_m

      จังหวัด                     สถานี  เดือน    ปี วันที่ ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5               86
...       ...                       ...    ...   ...    ...              ...
1700      เลย     353301-เลย สกษ. จ.เลย      2  2022     27               74
1701      เลย     353301-เลย สกษ. จ.เลย      2  2022     28               72
1702      เลย     353301-เลย สกษ. จ.เลย      2  2022     29                -
1703      เลย     353301-เลย สกษ. จ.เลย      2  2022     30                -
1704      เลย     353301-เลย สกษ. จ.เลย      2  2022     31                -

[8525 rows x 6 columns]

# จำนวนเมฆ

In [10]:
c1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c5= pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

# ปริมาณฝน

In [11]:
r1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

# อุณหภูมิจุดน้ำค้าง

In [12]:
f1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

# อุณหภูมตุ้มแห้ง

In [13]:
d1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

# อุณหภูมิต่ำสุด

In [14]:
l1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)